# ----- INSTRUCTIONS: Rename this file to .env and write your credentials here  -----
# Also add second slash(\) to your file path (c:\\Folder_name\\Sub_Folder_name)
    
#Provide your absolute path to the music folder
music_dir = ""

#Provide your gmail credentials(Use your google app password not your standord password)
my_email = ""
to_email = ""
password = ""

#Provide your IDE location
code_path = ""